.projects {
    width: 1280px;
    margin: 50px auto;
}

.projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    padding: 0;
    margin-top: 60px;
}

.projects__list-item {
    list-style: none;
    width: 600px;
    height: 500px;
    background-color: #f3f3f3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.projects__list-item-header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.projects__title {
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin: 25px 0;
}

.projects__date {
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin: 25px 0;
}

.projects__video {
    border-top: 7px solid #df962c;
    cursor: pointer;
}

.projects__list-item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px;
}

.projects__button {
    display: block;
    background-color: #2d6362d4;
    width: 120px;
    height: 50px;
    border: 1px solid #2d6362d4;
    border-radius: 20px;
    align-self: flex-end;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 1;
}

.projects__button:hover {
    background-color: #2a5b5b;
    border-color: #2a5b5b;
}

.projects__button_link {
    box-sizing: border-box;
    padding-top: 16px;
    background-color: #df962c;
    border: 1px solid #df962c;
}

.projects__button_link:hover {
    background-color: #81591d;
    border-color: #81591d;
}

@media (max-width: 1350px) {
    .projects {
        width: 1080px;
    }
    .projects__list {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
    }
    .projects__list-item {
        width: 800px;
        height: 700px;
        margin: 0 auto;
        justify-content: space-around;
    }
    .projects__title, .projects__date {
        font-size: 24px;
    }
    .projects__video {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .projects {
        width: 900px;
    }
}


@media (max-width: 900px) {
    .projects {
        width: 780px;
    }
    .projects__list-item {
        width: 600px;
        height: 500px;
    }
    .projects__title, .projects__date {
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .projects {
        width: 90vw;
    }
    .projects__list-item {
        width: 90%;
        height: 500px;
    }
    .projects__title, .projects__date {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .projects {
        width: 90vw;
    }
    .projects__list-item {
        width: 90%;
        height: 400px;
    }
    .projects__title, .projects__date {
        font-size: 20px;
    }
    .projects__list-item-header {
        margin: 0 10px;
    }
    .projects__title {
        text-align: left;
    }
}