.header {
    height: 60px;
    background-color: #2d6362;
    display: flex;
}

.header_home {
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
}

.header_qual {
    padding: 5px 10%;
}

.header__button {
    width: 170px;
    height: inherit;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-top: 35px;
}
.header__button:last-child {
    margin-right: 10%;
}
.header__link {
    text-decoration: none;
    color: #fff;
}

.header__button:hover {
    cursor: pointer;
    background-color:  #23443f;
}

.header__home {
    font-size: 30px;
    color: #fff;

}

@media (max-width: 750px) {
    .header_home {
        gap: 20px;
        justify-content: flex-start;
        padding-left: 10px;
    }
    .header__button {
        width: fit-content;
        max-width: 75px;
    }
}

@media (max-width: 360px) {
    .header__button:last-child {
        margin-right: 0;
    }
    .header_home {
        gap: 5px;
    }
}
